# Copyright (C) 2025 Bryce Thuilot <bryce@thuilot.io>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the FSF, either version 3 of the License, or (at your option) any later version.
# See the LICENSE file in the root of this repository for full license text or
# visit: <https://www.gnu.org/licenses/gpl-3.0.html>.

name: Release

on:
  release:
    types: ["created"]

env:
  OCAML_COMPILER: 5

permissions:
  contents: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: linux
            arch: amd64
          - os: ubuntu-24.04-arm
            name: linux
            arch: arm64
          - os: macos-latest
            name: darwin
            arch: arm64
          # TODO(bryce): find a way to build
          # darwin amd64 without paying money
          # - os: macos-latest-large
          #   name: darwin
          #   arch: amd64
          # TODO(bryce): build for windows
          # - os: windows-latest
          #   name: windows
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
            persist-credentials: false

      - name: set-up ocaml
        uses: ocaml/setup-ocaml@dec6499fef64fc5d7ed43d43a87251b7b1c306f5 # v3
        with:
          ocaml-compiler: ${{ env.OCAML_COMPILER }}

      - run: opam install . --deps-only

      - run: opam exec -- dune build

      - run: |
          export FILE_NAME="ggh-${TAG_NAME}-${OS_NAME}-${OS_ARCH}.tar.gz"
          cp _build/default/bin/main.exe ggh
          tar -zcvf ${FILE_NAME} ggh
          if [[ "$OS_NAME" == "darwin" ]]; then
            shasum  --algorithm 256 ${FILE_NAME} | awk '{print $1}' > ${FILE_NAME}.sha256
          else
            sha256sum ./$FILE_NAME > ${FILE_NAME}.sha256
          fi
          gh release upload $TAG_NAME ./${FILE_NAME}.sha256
          gh release upload $TAG_NAME ./$FILE_NAME
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}
          OS_NAME: ${{ matrix.name }}
          GH_TOKEN: ${{ github.token }}
          OS_ARCH: ${{ matrix.arch }}
  